*__pycache__
*.pyc
*.coverage
*.cache
*.~
timeseries/#timeseries.py#
timeseries/.#timeseries.py                               
timeseries/smdata
tests/tsdb
tests/tsfiles

tsbtreedb/tsfiles/*
tsbtreedb/tsdb/*
*.dat
*.dbdb
