path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#placeholder {
    width: 900px;
    height: 400px;
}

div.scroll {
    height: 200px;
    overflow: scroll;
}